/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
#main-navigation ul.menu {
	background:none;
	color:#fff;
}

#main-navigation ul.menu li a{
	color:#000;
}
